table{
    border-collapse: collapse;
    width: 100%;
}

tr , th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}   

th {
    background-color: #b4a8a8;
}
tr:nth-child(even) {
    background-color: #ad1b1b;
}
